[Desktop Entry]
Version=1.0
Type=Application
Name=PVE VDI Client
GenericName=Proxmox VDI Client
Comment=Web-based client for Proxmox VE Virtual Desktop Infrastructure
Icon=vdiclient
Exec=vdiclient %U
Terminal=false
Categories=System;RemoteAccess;Network;
Keywords=proxmox;vdi;spice;virtualization;remote;desktop;
StartupNotify=true
X-AppImage-Version=2.0.2
